.card-img-top {
    /* border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px); */
    height: 7rem;
    width: 7rem;
    margin: auto; 
    margin-top: 3rem; 
}

.card-title h5{
    text-align: center;
}

.card-text{
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
}
